<div>
  <h3>Add New Address Book</h3>

  <app-add-new (showAddressBook)="showAddressBook()"></app-add-new>
</div>
<br />
<hr />
<h3>Search</h3>
<input name="search" type="text" #searchValue />
<button (click)="onSearch(searchValue)">Submit</button>

<hr />
<br />

<div class="flex" *ngIf="search === ''">
  <app-single-item
    *ngFor="let singleItem of addressBook"
    [singleItem]="singleItem"
    (showAddressBooks)="showAddressBook()"
  ></app-single-item>
</div>

<div class="flex" *ngIf="search !== '' && filteredBook.length > 0">
  <app-single-item
    *ngFor="let singleItem of filteredBook"
    [singleItem]="singleItem"
    (showAddressBooks)="showAddressBook()"
  ></app-single-item>
</div>

<div class="notFound" *ngIf="search !== '' && filteredBook.length === 0">
  Contact Not Found
</div>
<br />
