<div>
  <h3>Add New Address Book</h3>

  <app-add-new (showAddressBook)="showAddressBook()"></app-add-new>
</div>
<br />
<hr />
<h3>Search</h3>
<form #searchForm="ngForm" (ngSubmit)="onSearch(search)">
  <input name="search" type="text" [(ngModel)]="search" />
  <input type="submit" value="Search" />
</form>
<hr />
<br />

<div class="flex" *ngIf="filteredBook.length === 0">
  <app-single-item
    *ngFor="let singleItem of addressBook"
    [singleItem]="singleItem"
    (showAddressBooks)="showAddressBook()"
  ></app-single-item>
</div>

<div class="flex" *ngIf="filteredBook.length > 0">
  <app-single-item
    *ngFor="let singleItem of filteredBook"
    [singleItem]="singleItem"
    (showAddressBooks)="showAddressBook()"
  ></app-single-item>
</div>
