<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <table>
    <tr>
      <td>Name</td>
      <td>:</td>
      <td>
        <input
          name="name"
          type="text"
          [(ngModel)]="singleItemPost.name"
          #userRef="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>:</td>
      <td>
        <input
          name="email"
          type="text"
          [(ngModel)]="singleItemPost.email"
          #emailRef="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>:</td>
      <td>
        <input
          name="phone"
          type="text"
          [(ngModel)]="singleItemPost.phone"
          #phoneRef="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td>Website</td>
      <td>:</td>
      <td>
        <input
          name="website"
          type="text"
          [(ngModel)]="singleItemPost.website"
          #websiteRef="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td>Company</td>
      <td>:</td>
      <td>
        <fieldset ngModelGroup="company">
          <table>
            <tr>
              <td><label>Name</label></td>
              <td>:</td>
              <td>
                <input
                  name="name"
                  type="text"
                  [(ngModel)]="singleItemPost.company.name"
                  #companyNameRef="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Catch Phrase</label></td>
              <td>:</td>
              <td>
                <input
                  name="catchPhrase"
                  type="text"
                  [(ngModel)]="singleItemPost.company.catchPhrase"
                  #companyCatchRef="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Bs</label></td>
              <td>:</td>
              <td>
                <input
                  name="bs"
                  type="text"
                  [(ngModel)]="singleItemPost.company.bs"
                  #companyBsRef="ngModel"
                />
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>:</td>
      <td>
        <fieldset ngModelGroup="address">
          <table>
            <tr>
              <td><label>City</label></td>
              <td>:</td>
              <td>
                <input
                  name="city"
                  type="text"
                  [(ngModel)]="singleItemPost.address.city"
                  #addressCity="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Street</label></td>
              <td>:</td>
              <td>
                <input
                  name="street"
                  type="text"
                  [(ngModel)]="singleItemPost.address.street"
                  #addressStreet="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Suite</label></td>
              <td>:</td>
              <td>
                <input
                  name="suite"
                  type="text"
                  [(ngModel)]="singleItemPost.address.suite"
                  #addressSuite="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Zipcode</label></td>
              <td>:</td>
              <td>
                <input
                  name="zipcode"
                  type="text"
                  [(ngModel)]="singleItemPost.address.zipcode"
                  #addressZipcode="ngModel"
                />
              </td>
            </tr>
            <tr>
              <td><label>Geo</label></td>
              <td>:</td>
              <td>
                <fieldset ngModelGroup="geo">
                  <input
                    name="lat"
                    type="text"
                    [(ngModel)]="singleItemPost.address.geo.lat"
                    #addressGeoLat="ngModel"
                  />
                  <input
                    name="lng"
                    type="text"
                    [(ngModel)]="singleItemPost.address.geo.lng"
                    #addressGeoLng="ngModel"
                  />
                </fieldset>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>

  <input type="submit" />
</form>
